streamlit>=1.39
streamlit-autorefresh>=1.0
streamlit-oauth>=0.1.14
pandas>=2.2
altair>=5.3
openai>=1.40
bcrypt>=4.1
numpy
matplotlib
yfinance
scikit-learn
requests
python-dotenv
nltk
textblob
vaderSentiment
plotly
sqlalchemy

